<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title>짜요짜요</title>
</head>
<script>
    function memo(){

    }
    window.addEventListener()
</script>
<body>
<main>
    <div id="timetable">
        <div class="header">
            <div class="title">시간표</div>
        </div>
        <div class="body">
            <table>
                <thead>
                <tr>
                    <th scope="col">월</th>
                    <th scope="col">화</th>
                    <th scope="col">수</th>
                    <th scope="col">목</th>
                    <th scope="col">금</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    {{#period1}}
                        <td class="memo">{{name}}<br /><input type="checkbox" id="bool" hidden><span><textarea>{{memo}}</textarea></span><p hidden>{{idText}}</p></td>
                    {{/period1}}
                </tr>
                </tbody>
                <tbody>
                <tr>
                    {{#period2}}
                        <td class="memo">{{name}}<br /><input type="checkbox" id="bool" hidden><span><textarea>{{memo}}</textarea></span><p hidden>{{idText}}</p></td>
                    {{/period2}}
                </tr>
                </tbody>
                <tbody>
                <tr>
                    {{#period3}}
                        <td class="memo">{{name}}<br /><input type="checkbox" id="bool" hidden><span><textarea>{{memo}}</textarea></span><p hidden>{{idText}}</p></td>
                    {{/period3}}
                </tr>
                </tbody>
                <tbody>
                <tr>
                    {{#period4}}
                        <td class="memo">{{name}}<br /><input type="checkbox" id="bool" hidden><span><textarea>{{memo}}</textarea></span><p hidden>{{idText}}</p></td>
                    {{/period4}}
                </tr>
                </tbody>
                <tbody>
                <tr>
                    <td colspan="5" id="lunchtime">점심시간</td>
                </tr>
                </tbody>
                <tbody>
                <tr>
                    {{#period5}}
                        {{#name}}<td class="memo">{{name}}<br /><input type="checkbox" id="bool" hidden><span><textarea>{{memo}}</textarea></span><p hidden>{{idText}}</p></td>{{/name}}
                        {{^name}}<td class="memo"><br /><input type="checkbox" id="bool" hidden><span><textarea>{{memo}}</textarea></span><p hidden>{{idText}}</p></td>{{/name}}
                    {{/period5}}
                </tr>
                </tbody>
                <tbody>
                <tr>
                    {{#period6}}
                        {{#name}}<td class="memo">{{name}}<br /><input type="checkbox" id="bool" hidden><span><textarea>{{memo}}</textarea></span><p hidden>{{idText}}</p></td>{{/name}}
                        {{^name}}<td class="memo"><br /><input type="checkbox" id="bool" hidden><span><textarea>{{memo}}</textarea></span><p hidden>{{idText}}</p></td>{{/name}}
                    {{/period6}}
                </tr>
                </tbody>
                <tbody>
                <tr>
                    {{#period7}}
                        {{#name}}<td class="memo">{{name}}<br /><input type="checkbox" id="bool" hidden><span><textarea>{{memo}}</textarea></span><p hidden>{{idText}}</p></td>{{/name}}
                        {{^name}}<td class="memo"><br /><input type="checkbox" id="bool" hidden><span><textarea>{{memo}}</textarea></span><p hidden>{{idText}}</p></td>{{/name}}
                    {{/period7}}
                </tr>
                </tbody>
                <tbody>
                <tr>
                    {{#period8}}
                        {{#name}}<td class="memo">{{name}}<br /><input type="checkbox" id="bool" hidden><span><textarea>{{memo}}</textarea></span><p hidden>{{idText}}</p></td>{{/name}}
                        {{^name}}<td class="memo"><br /><input type="checkbox" id="bool" hidden><span><textarea>{{memo}}</textarea></span><p hidden>{{idText}}</p></td>{{/name}}
                    {{/period8}}
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="lunchtable">
        <div class="header">
            <div class="title">급식</div>
        </div>
        <div class="body">
            {{#meals}}
            <div class="title">{{weekName}}</div>
            <label class="box">
                {{#meal}}
                    {{content}}<br>
                {{/meal}}
            </label>
            {{/meals}}
        </div>
    </div>
</main>
<script>
    let memoActive = false;
    [...document.getElementsByClassName("memo")].map((m)=>{
        m.addEventListener("change", ()=>{
            //alert(m.childNodes[3].childNodes[0].value); //여기다가 메모 저장 코드 넣으세요!;
            const data = {
                "memoText": m.childNodes[3].childNodes[0].value,
                "idText": m.childNodes[4].innerText
            };

            fetch("/memo", {
                method: 'POST', // HTTP 메서드를 POST로 설정
                headers: {
                    'Content-Type': 'application/json', // 요청 헤더에 Content-Type을 설정
                },
                body: JSON.stringify(data), // 데이터를 JSON 문자열로 변환하여 본문에 포함
            })
                    .catch(error => {
                        console.error('Error:', error); // 에러 시 에러 처리
                    });
        })
        m.addEventListener("click", ()=>{
            if(memoActive){
                [...document.getElementsByClassName("memo")].map((m)=>{m.childNodes[2].checked = false;})
                m.childNodes[2].checked = true;
                m.childNodes[3].childNodes[0].focus();
                memoActive = false;
            }else{
                memoActive = true;
                m.childNodes[3].childNodes[0].blur();
                m.childNodes[2].checked = false
            }
        })
    })
</script>
</body>
</html>