<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title>짜요짜요</title>
</head>
<script>
    function memo(){

    }
    window.addEventListener()
</script>
<body>
<main>
    <div id="timetable">
        <div class="header">
            <div class="title">시간표</div>
        </div>
        <div class="body">
            <table>
                <thead>
                <tr>
                    <th scope="col">월</th>
                    <th scope="col">화</th>
                    <th scope="col">수</th>
                    <th scope="col">목</th>
                    <th scope="col">금</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    {{#period1}}
                    <td>{{name}}<br /><span>{{memo}}</span></td>
                    {{/period1}}
                </tr>
                </tbody>
                <tbody>
                <tr>
                    {{#period2}}
                        <td>{{name}}<br /><span>{{memo}}</span></td>
                    {{/period2}}
                </tr>
                </tbody>
                <tbody>
                <tr>
                    {{#period3}}
                        <td>{{name}}<br /><span>{{memo}}</span></td>
                    {{/period3}}
                </tr>
                </tbody>
                <tbody>
                <tr>
                    {{#period4}}
                        <td>{{name}}<br /><span>{{memo}}</span></td>
                    {{/period4}}
                </tr>
                </tbody>
                <tbody>
                <tr>
                    <td colspan="5" id="lunchtime">점심시간</td>
                </tr>
                </tbody>
                <tbody>
                <tr>
                    {{#period5}}
                        <td>{{name}}<br /><span>{{memo}}</span></td>
                    {{/period5}}
                </tr>
                </tbody>
                <tbody>
                <tr>
                    {{#period6}}
                        <td>{{name}}<br /><span>{{memo}}</span></td>
                    {{/period6}}
                </tr>
                </tbody>
                <tbody>
                <tr>
                    {{#period7}}
                        <td>{{name}}<br /><span>{{memo}}</span></td>
                    {{/period7}}
                </tr>
                </tbody>
                <tbody>
                <tr>
                    {{#period8}}
                        <td>{{name}}<br /><span>{{memo}}</span></td>
                    {{/period8}}
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="lunchtable">
        <div class="header">
            <div class="title">급식</div>
        </div>
        <div class="body">
            <div class="title">월</div>
            <input type="checkbox" hidden id="bf">
            <label class="box" for="bf">
                <div class="header">
                    <div class="title">조식</div>
                    <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="24px"><path d="M152-160q-23 0-35-20.5t1-40.5l328-525q12-19 34-19t34 19l328 525q13 20 1 40.5T808-160H152Z"/></svg>
                </div>
            </label>
            <input type="checkbox" hidden id="lc">
            <label class="box" for="lc">
                <div class="header">
                    <div class="title">중식</div>
                    <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="24px"><path d="M152-160q-23 0-35-20.5t1-40.5l328-525q12-19 34-19t34 19l328 525q13 20 1 40.5T808-160H152Z"/></svg>
                </div>
            </label>
            <input type="checkbox" hidden id="dn">
            <label class="box" for="dn">
                <div class="header">
                    <div class="title">석식</div>
                    <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="24px"><path d="M152-160q-23 0-35-20.5t1-40.5l328-525q12-19 34-19t34 19l328 525q13 20 1 40.5T808-160H152Z"/></svg>
                </div>
            </label>
        </div>
    </div>
</main>
</body>
</html>